 <div class="row-justify-center">
         <div class="d-flex">
          
              
              
              <div class="dropdown mr-1">
                <button type="button" class="btn btn-primary" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,30">

                  Clientes
                </button> 
              </div>
               <div class="dropdown mr-1">
                <button type="button" class="btn btn-primary" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,30">
                  Lanchas
                </button>    
              </div>
               <div class="dropdown mr-1">
                <button type="button" class="btn btn-primary" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,30">
                  Personas Autorizadas
                </button>    
              </div>
               <div class="dropdown mr-1", class= "text-center">
                <button type="button" class="btn btn-primary" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,30">
                  Registros de Bajadas
                </button>    
          </div>
           </div>
          </div> 