<h1>Modificar Box nro: <span class="info"><%= @box.id %></span></h1>

<%= render 'form', box: @box %>

<%= link_to 'Mostrar', @box, class: 'btn btn-info' %> 
<%= link_to 'Volver', boxes_path, class: 'btn btn-secondary' %>
