<h1>New Enable Person</h1>

<% if current_user.user_type == 'user' and !current_user.client.nil? %>
	<%= render 'form', enable_person: @enable_person %>
<% elsif current_user.user_type == 'operador' or current_user.user_type == 'admin' %>
	<%= render 'form_enable_person', enable_person: @enable_person %>
<% end %>

<%= link_to 'Volver', enable_people_path, class: 'btn btn-secondary' %>
