<div class= "container-fluid text-center">
<h1>Nueva Reserva </h1>
</div>
<% if current_user.user_type == 'user' and !current_user.client.nil? %>
	<%= render 'form', reservation: @reservation %>
<% elsif current_user.user_type == 'operador' or current_user.user_type == 'admin' %>
	<%= render 'form_reservation', reservation: @reservation %>
<% end %>

<%= link_to 'Volver', reservations_path %>
