<h1>Editing Descent Client</h1>

<%= render 'form', descent_client: @descent_client %>

<%= link_to 'Mostrar', @descent_client, class: 'btn btn-info' %>
<%= link_to 'Volver', descent_clients_path, class: 'btn btn-secondary'  %>
